@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  @apply flex flex-col items-center justify-center min-h-screen;
  @apply gap-8 transition-colors font-primary;
  @apply p-4 md:p-12;
  @apply bg-neutral-50 dark:bg-gray-950;
}

.DarkModeButton {
  @apply absolute top-0 right-0 m-4 animate-pulse;
}

.CompanyLogo {
  @apply flex gap-2 text-3xl font-semibold;
  @apply text-gray-900 dark:text-white;
}

.StepperModal {
  @apply flex flex-col items-center gap-6;
  @apply border shadow-sm rounded-lg2;
  @apply w-full lg:w-[648px];
  @apply bg-white dark:bg-gray-900 border-neutral-700 dark:border-gray-800;
}

.ModalHeader {
  @apply flex w-full gap-8 p-3;
  @apply text-sm font-semibold rounded-b-none rounded-lg2;
  @apply justify-evenly md:justify-around;
  @apply dark:bg-gray-800 dark:text-neutral-800;
}

.Stepper {
  @apply relative flex flex-col items-center;
}

.Stepper .Step {
  @apply flex items-center justify-center w-8 h-8 border rounded-full mb-7;
  @apply bg-white dark:bg-gray-600 dark:border-gray-300;
}

.Stepper p {
  @apply absolute bottom-0;
}

.Stepper:not(:last-child) .Step span::after,
.SelectedStep .Step span::before {
  content: "";
  @apply absolute top-3.5 left-8 border border-dashed;
  @apply w-[20vw] lg:w-[15vw];
  @apply dark:border-gray-300;
}

.SelectedStep .Step span::before {
  @apply bg-primary-600;
}

.SelectedStep {
  @apply text-primary-600;
}

.SelectedStep::before {
  content: url("./assets/CheckIcon.svg");
  @apply absolute w-8 h-8 rounded-full bg-primary-600;
}

.Stepper.NextStep .Step {
  @apply border-primary-600;
}

.Stepper.NextStep .Step p {
  @apply text-primary-600;
}

.ModalBody {
  @apply flex flex-col items-start w-full;
  @apply text-sm font-medium;
  @apply gap-4 px-6 md:gap-6 md:px-12;
  @apply dark:text-neutral-200;
}

.FormGroup {
  @apply relative flex flex-col w-full gap-2;
  @apply text-sm font-normal;
}

.FormGroup svg {
  @apply absolute pointer-events-none top-10 right-4;
}

.FormGroup input {
  @apply px-4 py-3;
  @apply font-normal border rounded-md shadow-sm text-sm2;
  @apply dark:border-gray-800 dark:bg-gray-400 border-neutral-700 dark:placeholder-neutral-200;
}

.FormGroup p {
  @apply dark:text-neutral-800 text-gray-50;
}

.PasswordGroup {
  @apply flex w-full gap-4;
  @apply flex-col lg:flex-row;
}

.FormCheckBox {
  @apply flex gap-3;
  @apply text-base;
}

.FormCheckBox input {
  @apply w-5 h-5;
  @apply rounded-md;
  @apply dark:accent-primary-600;
}

.ModalFooter {
  @apply flex flex-col items-center;
  @apply rounded-t-none text-sm2 rounded-lg2;
  @apply justify-center w-full md:justify-end;
  @apply dark:bg-gray-800;
}

.NextButton {
  @apply flex justify-center gap-2 my-3;
  @apply text-white rounded-md shadow-sm bg-primary-600;
  @apply self-stretch p-3 mx-6 md:self-end md:mx-12 md:px-4;
}

.NextButton svg {
  @apply translate-y-1 pointer-events-none;
}
